.mujhe {}

.Main {
    width: 95%;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    /* border: 1px solid red; */
    margin: auto;
    margin-top: 2%;
}

.Main>div:nth-child(1) {
    width: 120%;
}


.Main>div:nth-child(2) {
    background-color: #f7f7f7;
    width: 80%;
    height: 650px;
    /* border: 1px solid red; */
    justify-content: right;

}

.Main-part-1>div:nth-child(1) {
    height: 350px;

}

.part2 {
    padding: 20px;
}

.intt>input {
    width: 75%;
    height: 7vh;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
}

.intt {
    display: flex;
    margin-top: -2%;
    margin-bottom: 1%;
    padding: 10px;
}

.intt>button {
    width: 30%;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;

}

.in2 {
    display: flex;

    padding: 10px;



}

.in2>button {
    /* margin: auto; */
    width: 100%;
    height: 9vh;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    margin: auto;
    cursor: pointer;
}

.order-part-ab {
    display: flex;
    /* margin-top: 10px; */
    justify-content: space-between;
    align-items: center;
    position:relative;
    }



.fetchpart-p {
    margin-bottom: 20px;
}

.but-but>button {
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 10px;
    width: 15%;
    border-radius: 5px;
    margin-bottom: 1%;
}
.orderrr{
    margin-top: 2%;
}

@media only screen and (max-width: 768px) {
   
    .Main{
        display: grid;
        grid-template-columns: repeat(1,1fr);

    }
    
  }