.mujhko:hover{
    background-color: black;
    
    color:aliceblue;
    cursor: pointer;
}
.Babulal{
    width:70%;
    height:auto;
    margin:auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.mehudon{
    z-index: 1;
}
.shahrukh{
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}