*{
    font-family: Roboto;
}
p{
    font-size: 0.8rem;
    font-weight: 500;
}
.ad-store,.ad-store-left,.ad-store-right{
    display: flex;
    background-color: #fee8e8;
    align-items: center;
}
.ad-store{
    justify-content: space-between;
    padding: 0.5rem 2rem;
}
.ad-store-left{
    gap: 0.6rem;
}
.ad-store-left > a{
    font-weight: 600;
    color: #faa8a8;
    font-size: 0.8rem;
}
.ad-store-right{
    gap: 0.5rem;
}
.navbar{
    display: flex;
    background-color: #262726;
    align-items: center;
    padding: 0rem 2rem;
}
.inputDiv{
    display: flex;
    background-color: #fafafa;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    margin-left: 2rem;
}
.inputDiv > input{
    background: none;
    min-width: 32rem;
    margin-left: 1rem;
    outline: none;
}
.navbar-icon{
    display: flex;
    gap: 2rem;
    margin-left: auto;
    align-items: center;
}
.lineDiv{
    width: 1px;
    height: 2rem;
    background: white;
}